body{
  padding:0;
  margin:0;
  box-sizing:border-box;
  background:'white';
}
.blog-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  /* position:absolute; */
}

.search-container {
  width: 100%;
}

input{
  height:25px;
  width:100%;
  padding:5px;
}


.devMetaData{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
.command {
  margin-bottom: 20px;
  padding: 20px;
  /* background-color: #f7f7f7; */
  background-color: #d7f1f9;
  color:black;
  border-radius: 5px;
  word-break:break;
}

.command h2,h1 {
  margin-top: 0;
}

.command p {
  margin: 10px 0;
}

.command code {
  /* background-color: #i f0f0f0; */
  background-color: black;
  color:white;
  padding: 3px 6px;
  border-radius: 3px;
  font-size:14px;
}

